/* Add Google Font: Oleo Script Swash Caps */
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");

/* Logo */
.logo {
    color: red;
    width: 25%; 
}

.logo > h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
}

/* Hero Section */
.hero {
    background-image: url('../images/rows-red-seats-theater.jpg');
    background-repeat: no-repeat;
    height: 70vh;
}

.hero span {
    display: block;
}

.hero form {
    margin-top: 8rem;
}



.hero form button {
    background-color: whitesmoke;
    color: red;
}

.hero form button:hover {
    background-color: transparent;
    color: whitesmoke;
    border-color: whitesmoke;
}

/* movie section */

.movie-list-container > div {
   width: 30%;
   cursor: pointer;
   transition: transform ease-in;
   border-radius: 1.5rem;
}

.movie-list-container > div > img{
    border-radius: 1.5rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

 .movie-list-container > div:hover{
    transform: scale(1.05);
} 

 .movie-list-container > div:active{
    transform: scale(.95);
} 

/* Footer */
footer {
    background-color: black;
}
#modal{
    background-color:grey;
    color: #fff;
    /* display: none; */
}